<a href="https://colab.research.google.com/github/PratapRK77/python_basic_progam/blob/main/20th_Aug'23_Python_basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to reverse a string.

In [ ]:
str="hello"

rev=str[::-1] #reverse the string using Indexing
print("After reverse string: ",rev)

After reverse string:  olleh

2. Check if a string is a palindrome.

In [ ]:
str= "sts"

rev=str[::-1] # firstly reverse the string using indexing

if(rev==str): # then take if statement and check "after reverse string and before reverse string are seme or not.
  print("string is paalindrome")
else:
  print("string is not palindrome")

string is paalindrome

3. Convert a string to uppercase.

In [ ]:
str="hello"

upp=str.upper() #string convert uppercase to lowercase using "upper()" function.
print("uppercase :",upp)

uppercase : HELLO

4. Convert a string to lowercase.

In [ ]:
str="HELLO"

low=str.lower() #string convert uppercase to lowercase using "lower()" function.

print("Lowercase :",low)

Lowercase : hello

5. Count the number of vowels in a string.

In [ ]:
str=" Hare Krishna "

count=0
vowels=["a","e","i","o","u","A","E","I","O","U"]

for i in str:
  if i in vowels:
    count +=1
print("Vowels in string :",count)

Vowels in string : 4

6. Count the number of consonants in a string.

In [ ]:
str=" Hare Krishna "

count=0
csonsonant="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

for i in str:
  if i in csonsonant:
    count +=1
print("Vowels in string :",count)

Vowels in string : 7

7. Remove all whitespaces from a string.

In [ ]:
str=" hello h i i "

remo= str.replace(" ","") #remove whitespaces using "replace()" function.

print("Remove whitespaces in string",remo)

hellohii

8. Find the length of a string without using the `len()` function.

In [ ]:
str="hello"

a=0

for i in str:
  a=a+1
print(a)

5

9. Check if a string contains a specific word.

In [ ]:
str=input("Enter string :")

word=input("Enter word :")

if(word in str):
  print("Word is in string")
else:
  print("word is not in string")

Enter string :Hare krishna
Enter word :Radhe
word is not in string

10. Replace a word in a string with another word.

In [ ]:
str="hello,my self pratap kharabe"

repl=str.replace("pratap","Krushna")

print("After replace word in string :",repl)

After replace word in string : hello,my self Krushna kharabe

11. Count the occurrences of a word in a string.

In [ ]:
str="hello, How are you ?"

occword=input("Enter word/letter :")
occ=str.count(occword)

print("this word occured in string",occ)

Enter word/letter :o
this word occured in string 3

12. Find the first occurrence of a word in a string.

In [ ]:
str="Hello , my self pratap"

fir=str.find("e")
print("word first occered in index :",fir)

word first occered in index : 1

13. Find the last occurrence of a word in a string.

In [ ]:
str="Hello , my self pratap"

fir=str.rfind("e")
print("word first occered in index :",fir)

word first occered in index : 12

14. Split a string into a list of words.

In [ ]:
str="Hello , my self pratap"

spli=str.split()
print("After split string into words :",spli)

After split string into words : ['Hello', ',', 'my', 'self', 'pratap']

15. Join a list of words into a string.

In [ ]:
list=['Hello', ',', 'my', 'self', 'pratap']

joi=" ".join(list)
print("After join the words in string :",joi)

After join the words in string : Hello , my self pratap

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
str= "my name is pratap Kharabe"

conv= str.replace(" ","_")

print("convert the words seprated by spaces to underscores : ",conv)

convert the words seprated by spaces to underscores :  my_name_is_pratap_Kharabe

17. Check if a string starts with a specific word or phrase.

In [ ]:
Str =input("Enter the string :")

word=input("Enter Word :")

Str.startswith(word)

Enter the string :my name is pratap
Enter Word :my

True

18. Check if a string ends with a specific word or phrase.

In [ ]:
str =input("Enter the string :")

word=input("Enter Word :")

str.endswith(word)

Enter the string :string
Enter Word :g

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
str =input("Enter the string :")

tit= str.title()

print("String end :",tit)

Enter the string :hello hii
String end : Hello Hii

20. Find the longest word in a string.

In [ ]:
str="find the longest word in string"

words = str.split()

count=0
long_word=""

for i in words:

  if len(i) > count:

    count = len(i)
    long_word=i

print("Longest word in string :",long_word)

Longest word in string : longest

21. Find the shortest word in a string.

In [ ]:
str="find the longest word in string"

words = str.split()

count= float("inf")
short_word=None

for i in words:

  if len(i) < count:

    count = len(i)
    short_word=i

print("Longest word in string :",short_word)

Longest word in string : in

22. Reverse the order of words in a string.

In [ ]:
str="my name is pratap Patil"

sp=str.split() # first i have split the string using split function.
rev=sp[::-1] # Then reverse the splited string.
print("After reverse the string: ",rev)

After reverse the string:  ['Patil', 'pratap', 'is', 'name', 'my']

23. Check if a string is alphanumeric.

In [ ]:
str= "pratap [9,3,4,](2+4)?."

che=str.isalnum() # Check the string is alphanumeric or not using "isalnum" function.

print(che)

False

24. Extract all digits from a string.

In [ ]:
str="pratap 77 06 09"

dig=""

for i in str:  # Take loop to check the each string is digit or not.

  if i.isdigit():
    dig += i
print("Extract the digit from the string: ",dig)

Extract the digit from the string:  770609

25. Extract all alphabets from a string.

In [ ]:
str="pta7tap480khar4ab8e7"

alph=""
for i in str: # Take loop to check the each string is alpha or not.

  if i.isalpha(): # then take if condistion to  check each letter is alpha using "isalpha"  function , so print otherwise check next .
    alph += i
print("Extract all alphabets from string: ",i)

ptatapkharabe

26. Count the number of uppercase letters in a string.

In [ ]:
str="PrATapKhaRaBE"

count=0

for i in str:  # Take loop to check the each lrtter in  string.

  if i.isupper(): #then take if condition to check each letter is uppercase using "isupper()" function.
    count +=1

print("Number of uppercase letters in string is :",count)

Number of uppercase letters in string is : 7

27. Count the number of lowercase letters in a string.

In [ ]:
str="PrATapKhaRaBE"

count=0

for i in str: # Take loop to check the each lrtter in  string.

  if i.islower(): #then take if condition to check each letter is uppercase using "isupper()" function.
    count +=1

print("Number of lowercase letters in string is :",count)

Number of uppercase letters in string is : 6


28. Swap the case of each character in a string.

In [ ]:
str= "my NAME iS pRATAP "

print("After swap the string :",str.swapcase()) # swap the each lettre using  "swapcase()" function.

MY name Is Pratap

29. Remove a specific word from a string.

In [ ]:
str="my name is pratap Kharabe "

str.replace("Kharabe",'') # removing the specific word using replace function.

'my name is pratap  '

30. Check if a string is a valid email address.

In [ ]:
import re  #import the regular expression mudule library.

email=input("Enterr valid email: ") # Take input email from user.

inemail= r'^[\w\.-]+@[\w\.-]+\.\w+$' # regular repression pattern for basic email validation.
if re.match(inemail,email):
  print("Email is valid")
else:
  print("Email is invalid")

Enterr valid email: pratappatil@gmail.com
Email is valid

31. Extract the username from an email address string.

In [ ]:
email=input("Enter email: ") # Take input email form the user

username= email.split("@")[0] # the split the email in two parts "@" and take first part using "[0]" index.
print("username is :", username)

Enter email: PratapPatil@gamil.com
username is : PratapPatil

32. Extract the domain name from an email address string.

In [ ]:
email=input("Enter email :") # Take input email from the user.

domain=email.split("@")[-1] # then split the email at "@" and take last part of email using "[-1]" index.
print("domain of mail: ",domain)

Enter email :pratappatil@gmail.com
domain of mail:  gmail.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
str="hello, my     name     is      pratap"

spli= str.split() # split the string

joi=" ".join(spli) # And join winh "single space(" ")"
print(joi)

hello, my name is pratap

34. Check if a string is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url = input("Enter vaild url :") # Take input url from the user.

split = url.split("//")[0] # Then split the url at "//" and take first part of url using [0] index.

print("This url protocol is :",split)

Enter vaild urlhttps://www.welcoome.com
https:

36. Find the frequency of each character in a string.

In [ ]:
str=input("Enter string: ") #take input from the usre.

frequency={}

for char in str: # Take forloop to check each letter.

  if char in frequency:
    frequency[char] += 1 # condition is same letter is present in string so frequency +1.
    print(f"character: '{char}', Frequency: '{frequency[char]}'")
  else:
    frequency[char] = 1
    print(f"character: '{char}', Frequency: '{frequency[char]}'")

Enter string: Pratap patil
character: 'P', Frequency: '1'
character: 'r', Frequency: '1'
character: 'a', Frequency: '1'
character: 't', Frequency: '1'
character: 'a', Frequency: '2'
character: 'p', Frequency: '1'
character: ' ', Frequency: '1'
character: 'p', Frequency: '2'
character: 'a', Frequency: '3'
character: 't', Frequency: '2'
character: 'i', Frequency: '1'
character: 'l', Frequency: '1'

37. Remove all punctuation from a string.

In [ ]:
import string # import string library.

st=input("Enter string : ") #take input from the usre.

translator= str.maketrans("","",string.punctuation) #create a translation table to remove punctuation.

without_punctuation= st.translate(translator) # use the translation table to remove punctuation from the input string.

print(without_punctuation)

Enter string : hey, how are you?
hey how are you

38. Check if a string contains only digits.

In [ ]:
str=input("Enter string :")

if str.isdigit():
  print ("string contain only digits :",str)
else:
  print("String is not contain only digits :",str)

Enter string :98797
string contain only digits : 98797

39. Check if a string contains only alphabets.

In [ ]:
str=input("Enter string :")

if str.isalpha():
  print ("string contain only alphabets :",str)
else:
  print("String is not contain only alphabets :",str)

Enter string :pratp
string contain only alphabets : pratp

40. Convert a string to a list of characters.

In [ ]:
str="my self pratap 777"

convert=list(str)
print(convert ,end=" ")

['m', 'y', ' ', 's', 'e', 'l', 'f', ' ', 'p', 'r', 'a', 't', 'a', 'p', ' ', '7', '7', '7']

41. Check if two strings are anagrams.

In [ ]:
str1=input("Enter first string :")
str2=input("Enter second string :")


if sorted(str1)==sorted(str2):
  print(f"'{str1}' and '{str2}' are anagrams." )
else:
  print(f"'{str}' and '{str2}' are not anagrams.")

Enter first string :listen
Enter second string :silent
'netsil' and 'silent' are anagrams.

42. Encode a string using a Caesar cipher.

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

str= input("Enter string :")

cleanstring= re.sub(r'[^\w\s]','', str).lower()

words = cleanstring.split()
wordcounter= Counter(words)

mostcommon_word = wordcounter.most_common(1)[0][0]

print("Most frequent word in string :",mostcommon_word)

Enter string :my name is pratap ,my father name is rajesh  patil
Most frequent word in string : my

45. Find all unique words in a string.

In [ ]:
import re

str=input("Enter string :")

cleanstring = re.sub(r'[^\w\s]', '',str).lower() # Remove punctuation and convert to lowercase

word=set(cleanstring.split())  # Split the string into words and convert to a set for uniqueness


print("Unique word :",word)

Enter string :hello  my name is pratap and my father name is rajesh patil
Unique word : {'is', 'rajesh', 'father', 'pratap', 'name', 'and', 'hello', 'my', 'patil'}

46. Count the number of syllables in a string.

In [ ]:
import re

str= input("Enter string :") # take input from the user.

vowel= re.findall(r'[aeiou]+', str, re.IGNORECASE)  # Count vowel groups using regular expression.


count=len(vowel)

print(f"'{str}' has {count} syllables.")

Enter string :my self pratap
'my self pratap' has 3 syllables.

47. Check if a string contains any special characters.

In [ ]:
import re

str= input("Enter the string:")

special_char= re.compile(r'[!@#$%^&*()_+{}[\]?;:<>,.~\|]')

match= special_char.search(str)

result= bool(match)

print (result)

Enter the string:hey!, how are you?
True

48. Remove the nth word from a string.

In [ ]:
str=input("Enter string :")
del_word=int(inp)

spl= str.split()
rem=spl.pop()
mod_str=" ".join(spl)
print(mod_str)
print(rem)

my name is
pratap

49. Insert a word at the nth position in a string.

In [ ]:
str=input("Enter string: ")
num=int(input("Enter num: "))
word=input("Enter word: ")

spli= str.split()

afterstr=spli.insert(num,word)
modstri=" ".join(spli)
print(word)
print(modstri)

Enter string: My name is Pratap Kharabe
Enter num: 4
Enter word: Rajesh
Rajesh
My name is Pratap Rajesh Kharabe

50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

csvdata = "Name, score, 4/6\nRohit, 54, 4/2\nRahul, 39, 4/0\nKishan, 34, 3/1"

lists = csv_string_to_list(csvdata)

for row in lists:
    print(row)

['Name', ' score', ' 4/6']
['Rohit', ' 54', ' 4/2']
['Rahul', ' 39', ' 4/0']
['Kishan', ' 34', ' 3/1']

** List based practice problem :**

1. Create a list with integers from 1 to 10.

In [ ]:
lis=[i for i in range(1,11)] #take for loop to print 1 to 10 integers.

print(lis)# print the string.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function.

In [ ]:
lis=[10,20,'weee',43,235,54]

count = 0

for i in lis:
  count +=1
print("lenth of list :",count)

lenth of list : 6

In [ ]:


ggggggggggggggggggg
ggggg
ggggggggggggggggggg
gggggggggggggggggg
gggg
ggggggggggg

3. Append an element to the end of a list.

In [ ]:
lis=[10,20,30,40,"hii",92]

new= 77

lis.append(new)
print("new list :",lis)

new list : [10, 20, 30, 40, 'hii', 92, 77]

4. Insert an element at a specific index in a list.

In [ ]:
lis=[10,20,21,42,53,43]

index=int(input("Enter index: "))
element=input("Enter Element :")

lis.insert(index,element)
print("updated list : ",lis)

Enter index: 4
Enter Element :hii
updated list :  [10, 20, 21, 42, 'hii', 53, 43]

\

5. Remove an element from a list by its value.

In [ ]:
lis=[10,20,21,42,53,43]

rem=10

lis.remove(rem)
print("After remove the element: ",lis)

After remove the element:  [20, 21, 42, 53, 43]

6. Remove an element from a list by its index.

In [ ]:
lis=[10,20,21,'hii',42,53,43]

inde = 3

after=lis.pop(inde)
print("Updated list: ",lis)
print("deleted Element: ",after)

Updated list:  [10, 20, 21, 42, 53, 43]
deleted Element:  hii

7. Check if an element exists in a list.

In [ ]:
lis=[10,20,21,42,53,43]

element=20

if element in lis:
  print(f"yes, {element} is in list.")
else:
  print(f"{element} is not prasent in list.")

yes, 20 is in list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
lis=[10,20,21,42,53,43]

element = 20

inde = lis.index(element)

print(f"The index of {element} is {inde}.")

The index of 20 is 1.

9. Count the occurrences of an element in a list.

In [ ]:
lis=[10,20,21,20,42,53,43]

element = 20

coun = lis.count(element)
print(f"the {element} occurs {coun} times in list.")

the 20 occurs 2 times in list.

10. Reverse the order of elements in a list.

In [ ]:
lis=[10,20,21,42,53,43]

lis.reverse()

print("After reverse the list: ",lis)

After reverse the list:  [43, 53, 42, 21, 20, 10]

11. Sort a list in ascending order.

In [ ]:
lis=[10,20,21,42,53,43]

lis.sort()

print("List in ascending order: ",lis)

List in ascending order:  [10, 20, 21, 42, 43, 53]

12. Sort a list in descending order.

In [ ]:
lis=[10,20,21,42,53,43]

lis.sort(reverse=True)
print("list in descending order: ",lis)

list in descending order:  [53, 43, 42, 21, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [ ]:
lis=[ i for i in range (2,21,2)]
print("Even number:",lis)

Even number: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
lis=[i for i in range (1,21,2)]
print("Odd number:",lis)

Odd number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
lis=[10,20,21,42,53,43]

total = sum(lis)

print("sum of list :",total)

sum of list : 189

16. Find the maximum value in a list.

In [ ]:
lis=[10,20,21,42,53,43]

maximum = max(lis)
print("Maximum value in list: ",maximum)

53

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
lis =[i**2 for i in range (1,11)]
print("Square of 1 to 10:",lis)

Square of 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

20. Remove duplicates from a list.

In [ ]:
lis=[10,20,21,20,42,53,43]

list(set(lis)) # conovert in set

[10, 42, 43, 20, 53, 21]

21. Find the common elements between two lists.

In [ ]:
lis=[10,20,21,42,53,43]
lis1=[100,20,201,42,593,43]

same=list(set(lis).intersection(lis1))

print("commomn element in list:",same)

commomn element in list: [42, 43, 20]

22. Find the difference between two lists.

In [ ]:
lis=[10,20,21,42,53,43]
lis1=[100,20,201,42,533,43]

dif= list(set(lis).difference(lis1))

print("Defferent element in tow list:",dif)

Defferent element in tow list: [53, 21, 10]

23. Merge two lists.

In [ ]:
lis=[10,20,21,42,53,43]
lis1=[100,220,231,432,543,473]

lis2 = lis+lis1

print("Merge Two list :",lis2)

Merge Two list : [10, 20, 21, 42, 53, 43, 100, 220, 231, 432, 543, 473]

24. Multiply all elements in a list by 2.

In [ ]:
lst =[10,20,21,42,53,43]

multi = [i*2 for i in lst]

print("Multiplied list: ",multi)

Multiplied list:  [20, 40, 42, 84, 106, 86]

25. Filter out all even numbers from a list.

In [ ]:
lst =[10,20,21,42,53,43]

even= []

for i in lst:
  if i%2==0:
    even.append(i)

print(even)

[10, 20, 42]

26. Convert a list of strings to a list of integers.

In [ ]:
lst = ['10','23','43','23','64','33']

convert = [int(i) for i in lst]

print("convert list of string to integers: ",convert)

convert list of string to integers:  [10, 23, 43, 23, 64, 33]

27. Convert a list of integers to a list of strings.

In [ ]:
strd =[10, 20, 30, 40, 50]
convert = [str(i) for i in strd]

print("Convert list integer to string: ",convert)

Convert list integer to string:  ['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [ ]:
lst = [[1,2,3,4],[5,6,7,43],[34,65,54,32]] #nested list

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(lst)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 43, 34, 65, 54, 32]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:

num = 0
num1 = 1
fab_num = num1
count = 0

while count <=10:
  print(fab_num, end=" ")
  count +=1
  num, num1 =num1, fab_num
  fab_num = num + num1

1 2 3 5 8 13 21 34 55 89 144

30. Check if a list is sorted.

In [ ]:
def sorted_list(lst):

  for i in range(1 , len(lst)):

    if lst[i] < lst[i-1]:
      return False
  return True

lsti=[1,2,2,4,2,1,4,3]

if sorted_list(lsti):
  print("list is sorted")
else:
  print("list is unsorted")

list is unsorted

31. Rotate a list to the left by n positions.

In [ ]:
def rotate_left(lst,n):
  n=n%len(lst)
  rotated= lst[n:]+lst[:n]
  return rotated

li=[1,2,3,4,5,6,7]
n= 3

rotatedlist=rotate_left(li,n)
print("Roted list :",rotatedlist)

[4, 5, 6, 7, 1, 2, 3]

32. Rotate a list to the right by n positions.

In [ ]:
def rotate_left(lst,n):
  n=n%len(lst)
  rotated= lst[-n:]+lst[:-n]
  return rotated

li=[1,2,3,4,5,6,7]
n= 3

rotatedlist=rotate_left(li,n)
print("Roted list :",rotatedlist)

Roted list : [5, 6, 7, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size n.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

35. Find the second largest number in a list.

In [ ]:
lst = [20,14,65,76,89,83,89,77]

sortset=set(list(lst)) #converted set for removing duplicate element in liat.

convlist=list(set(sortset)) #converte set to list.
convlist.sort() #and sort the list .


print("Second largest element in list: ",convlist[-2]) #print list index [-2] because this is second largest emlement.

Second largest element in list:  83

36. Replace every element in a list with its square.

In [ ]:
lst =[2,5,34,52,66,8,77]

squarelist = [i**2  for i in lst] # take for loop and condition is output multiply by 2.

print("square of each element in list :",squarelist)

square of each element in list : [4, 25, 1156, 2704, 4356, 64, 5929]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
lst =  ["partap",'Rushi','Ashish','Sachin','Abhishek']

condict = {element : index for index, element in enumerate(lst)}

print("List convert to Dictonary :",condict)

List convert to Dictonary : {'partap': 0, 'Rushi': 1, 'Ashish': 2, 'Sachin': 3, 'Abhishek': 4}

38. Shuffle the elements of a list randomly.

In [ ]:
import random #import random library

lst =[2,5,34,52,66,8,77]

random.shuffle(lst) #shuffle element in list using random =.shuffle()

print("shuffled element in list: ",lst)

shuffled element in list:  [77, 5, 52, 2, 8, 66, 34]

39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial(num):

  if num==0 or num==1:
    return 1
  else:
    return num * factorial(num-1)

factorialliat= [factorial(i) for i in range(10)]

print("list of the first 10 factorial numbers :", factorialliat)

list of the first 10 factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
def common_element(lst1,lst2):

  for item in lst1:
    if item in lst2:
      return True
  return False

lst1 = [1,2,3,4,5,6,7,8]
lst2 = [23,1,2,33,445,53,7]

if common_element(lst1,lst2):
  print("The list have at least one common element ")
else:
  print("The list do not have any common element")

The list have at least one common element

41. Remove all elements from a list.

In [ ]:
lst = [1,2,3,4,5,6,7]

lst.clear()
print("Remove the all element in list:",lst)

Remove the all element in list: []

42. Replace negative numbers in a list with 0.

In [ ]:
lst = [1,-2,-34,53,2,-54]

for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0

print("Replace negative number to 0 : ",lst)

Replace negative number to 0 :  [1, 0, 0, 53, 2, 0]

43. Convert a string into a list of words.

In [ ]:
string = "Hello, this is my laptop"

conlist = string.split()

print("list of word :", conlist)

list of word : ['Hello,', 'this', 'is', 'my', 'laptop']

44. Convert a list of words into a string.

In [ ]:
lst = ['hello', 'my','name','is ','pratap']

convstring =" ".join(lst)

print("Converted list to string:",convstring)

Converted list to string: hello my name is  pratap

45. Create a list of the first n powers of 2.

In [ ]:
n = 7

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", power_list)

List of the first 7 powers of 2: [1, 2, 4, 8, 16, 32, 64]

46. Find the longest string in a list of strings.

In [ ]:
lst =  ["partap",'Rushi','Ashish','Sachin','Abhishek']

longest =""

for i in lst:

  if len(i) > len(longest):
    longest = i


print("longest string in list :",longest)

longest string in list : Abhishek

47. Find the shortest string in a list of strings.

In [ ]:
lst =  ["partap",'Rushi','Ashish','Sachin','Abhishek']

shortest =lst[0]

for i in lst:

  if len(i) < len(shortest):
    shortest = i


print("shortest string in list :",shortest)

longest string in list : Rushi

48. Create a list of the first n triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [ ]:
lst = [1,2,3,4,32,42,21]

index1 = 1
index2 = 3

temp = lst[index1]
lst[index1]=lst[index2]
lst[index2]=temp

print("list after swaping element :",lst)

list after swaping element : [1, 4, 3, 2, 32, 42, 21]

## **Tuple based practice problem :**

1. Create a tuple with integers from 1 to 5.

In [ ]:
tpl  = (10,20,30,50)

print(tpl)

(10, 20, 30, 50)

2. Access the third element of a tuple

In [ ]:
tpl = (10, 20, 30 ,40,39,98)

tpl[2]

print("This is third element of the tuple :",tpl)

This is third element of the tuple : (10, 20, 30, 40, 39, 98)

3. Find the length of a tuple without using the len() function

In [ ]:
tpl = (10, 20, 30 ,40,39,98)

count = 0

for i in tpl:
  count +=1

print(count)

6

4. Count the occurrences of an element in a tuple.

In [ ]:
tpl = (10,20,30,40,50,40,60)

element_count= 40

count =0

for i in tpl:
  if i == element_count:
    count +=1


print(f"The element {element_count} appears {count} times in the tuple.")

The element 40 appears 2 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tpl = (10, 20, 30 ,40,39,98)

element_count = 40

index= 0

for i , item in enumerate (tpl):
  if item == element_count:
    index = i
    break


if index != -1:
  print(f"the first occurrence of {element_count} is at index {index}.")
else:
  print(f"{element_count} is not found in the tuple.")

the first occurrence of 40 is at index 3.

6. Check if an element exists in a tuple.

In [2]:
tpl = (10,20,30,40,50,60)

elementcheck = 50

if elementcheck in tpl:

  print(f"{elementcheck} exists in tuple. ")
else:
  print(f"{elementcheck} does not exists in tuple.")

50 exists in tuple.

7. Convert a tuple to a list

In [4]:
tpl = (10,20,30,40,50,60,77)


lst= list(tpl)
print("tuple: ",tpl)
print("List: ",lst)

tuple:  (10, 20, 30, 40, 50, 60, 77)
List:  [10, 20, 30, 40, 50, 60, 77]

8. Convert a list to a tuple.

In [5]:
lst =[10,20,30,40,50,60,77]

tpl= tuple(lst)

print("List : ",lst)
print("Tuple : ",tpl)

List :  [10, 20, 30, 40, 50, 60, 77]
Tuple :  (10, 20, 30, 40, 50, 60, 77)

9. Unpack the elements of a tuple into variables.

In [7]:
tpl = (10,20,30,40)

var1, var2, var3, var4 = tpl

print("var1 :",var1)
print("var2 :",var2)
print("var3 :",var3)
print("var4 :",var4)

var1 : 10
var2 : 20
var3 : 30
var4 : 40

10. Create a tuple of even numbers from 1 to 10.

In [9]:
even_number_lst= [i for i in range(2,11,2)]

con_tpl = tuple(even_number_lst)
print("Tuple o feven number: ",con_tpl)

Tuple o feven number:  (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [10]:
odd_number_lst= [i for i in range(1,11,2)]

con_tpl = tuple(odd_number_lst)
print("Tuple o feven number: ",con_tpl)

Tuple o feven number:  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [11]:
tpl1 =(10,20,30,40)

tpl2 =(20,43,32,54,23)

concat_tpl =tpl1+tpl2

print("Concatenate two tuple :",concat_tpl)

Concatenate two tuple : (10, 20, 30, 40, 20, 43, 32, 54, 23)

13. Repeat a tuple three times

In [12]:
tpl = (10,20,30,40,50)

print("Repeat a tuple three time: ",tpl*3)

Repeat a tuple three time:  (10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

14. Check if a tuple is empty.

In [14]:
tpl1 = ()

tpl2 = (1,2,3,4,5,7)

if not tpl1:
  print("tpl1 is empty")
else:
  print("tpl1 is not empty")

if not tpl2:
  print("tpl2 is empty")
else:
  print("tpl2 is not empty")

tpl1 is empty
tpl2 is not empty

15. Create a nested tuple.

In [15]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [16]:
tpl = (1,2,3,4,5,6,32,21,10)

first_element= tpl[0]

print("first element of tuple: ",first_element)

first element of tuple:  1

17. Create a tuple with a single element.

In [18]:
tpl = (77,)

print("single element tuple :",tpl)

single element tuple : (77,)

18. Compare two tuples.

In [19]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [21]:
tpl = (1,2,3,4,5)

del tpl

print(tpl)

NameError: ignored

20. Slice a tuple.

In [23]:
tpl = (1,2,3,4,5,22,33,44,23,42)

slicing_tpl= tpl[2:7]

print("After slicing tuple",slicing_tpl)

After slicing tuple (3, 4, 5, 22, 33)

21. Find the maximum value in a tuple.

In [24]:
tpl = (1,2,3,4,5,22,33,44,23,42)

maximum = max(tpl)

print("Maximum value of tuple: ",maximum)

Maximum value of tuple:  44

22. Find the minimum value in a tuple.

In [25]:
tpl = (1,2,3,4,5,22,33,44,23,42)

minimum = min(tpl)

print("Minimum value in tuple: ",minimum)

Minimum value in tuple:  1

23. Convert a string to a tuple of characters.

In [26]:
stri = "Hello"

convert_tuple=tuple(stri)

print("convert string to tuple: ",convert_tuple)

convert string to tuple:  ('H', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [27]:
tpl = ('H', 'e', 'l', 'l', 'o')

conv_str = ''.join(tpl)

print("string to tuple:",conv_str)

string to tuple: Hello

25. Create a tuple from multiple data types.

In [28]:
tpl = (1,27,"hii",True,7.7)

print("multiple datatype in single tuple: ",tpl)

multiple datatype in single tuple:  (1, 27, 'hii', True, 7.7)

26. Check if two tuples are identical.

In [1]:
tpl1 = (1, 2, 3)
tpl2 = (1, 2, 3)
tpl3 = (4, 5, 6)

if tpl1 == tpl2:
  print("Tuple one and two are identical ")
else:
  print("tuple one and two are dose not identical")
if tpl2 == tpl3:
  print("tuple two and three are identical ")
else:
  print("tuple two and three are does not identical")

Tuple one and two are identical
tuple two and three are does not identical

27. Sort the elements of a tuple.

In [3]:
tpl = (1,34,56,23,64,42,53,34)

sorted = tuple(sorted(tpl))

print(sorted)

(1, 23, 34, 34, 42, 53, 56, 64)

28. Convert a tuple of integers to a tuple of strings.

In [7]:
tpl = (1,34,56,23,64,42,53,34)

tpl_of_str = tuple(str(item) for item in tpl)

print("Tuple of string :",tpl_of_str)

Tuple of string : ('1', '34', '56', '23', '64', '42', '53', '34')

29. Convert a tuple of strings to a tuple of integers.

In [5]:
tpl= ('1', '34', '56', '23', '64', '42', '53', '34')

tpl_of_int= tuple(int(item) for item in tpl)

print("Tuple of integer :",tpl_of_int)

Tuple of integer : (1, 34, 56, 23, 64, 42, 53, 34)

30. Merge two tuples.

In [8]:
tpl1 = (10,20,30)
tpl2 = (33,22,44)

merge = tpl1 + tpl2

print("merge two tuple:",merge)

merge two tuple: (10, 20, 30, 33, 22, 44)

31. Flatten a nested tuple.

In [1]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [2]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i==0:
      return False

  return True

prime_num = [num for num in range(2,100) if is_prime(num)][:5]

prime_num_tpl = tuple(prime_num)


print("tuple of the first 5 prime numbers :",prime_num_tpl)

tuple of the first 5 prime numbers : (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [5]:

tpl = (1,2,3,2,1)

rev = tpl[::-1]

if tpl == rev:
  print ("tuple is palindrome",tpl)
else:
  print("tuple is not palindrome",tpl)

tuple is palindrome (1, 2, 3, 2, 1)

34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
square_tpl = tuple(i ** 2  for i in range(1,6))

print("tuple of Square",square_tpl)

tuple of Square (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [9]:
tpl = (1,2,3,4,5,6,8,44,33,22)

even_num = tuple( i for i in tpl if i % 2 ==0)

print ("filtered all even num in tuple :",even_num)

filtered all even num in tuple : (2, 4, 6, 8, 44, 22)

36. Multiply all elements in a tuple by 2.

In [10]:
tpl =(1,2,3,4,5,6,7)

multiply_tpl = tuple (i**2 for i in tpl)

print("multiply all element:",multiply_tpl)

multiply all element: (1, 4, 9, 16, 25, 36, 49)

37. Create a tuple of random numbers.

In [13]:
import random

random_tpl = tuple ( random.randint(1,50) for i in range(10))

print("Random tuple : " , random_tpl)

Random tuple :  (44, 11, 21, 17, 22, 26, 10, 37, 11, 27)

38. Check if a tuple is sorted.

In [16]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by n positions

In [17]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by n positions.

In [18]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [19]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [21]:
input_str = input("Enter element :")

input_list = input_str.split(' ,')

user_tuple = tuple (input_list)

print("user input tuple :",user_tuple)

Enter element :1,2,3,4,5,6,7
user input tuple : ('1,2,3,4,5,6,7',)

43. Swap two elements in a tuple

In [1]:
tpl = (1,2,3,4,5,6,7)

index1 = 2

index2 = 5

swap_tuple = tuple(
    tpl[i] if i not in (index1, index2) else
    tpl[index2] if i == index1 else
    tpl[index1]
    for i in range (len(tpl))
)

print("Swapped tuple : ",swap_tuple)

Swapped tuple :  (1, 2, 6, 4, 5, 3, 7)

44. Reverse the elements of a tuple.

In [2]:
tpl = (1, 2, 3, 4, 5, 6, 7)

reverse = tpl[::-1]

print("Reverse tuple :",reverse)

Reverse tuple : (7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2.

In [3]:
n = 7

power_tpl = tuple(2** i for i in range (n))

print(f"Tuple of the first {n} power of 2: {power_tpl}")

Tuple of the first 7 power of 2: (1, 2, 4, 8, 16, 32, 64)

46. Find the longest string in a tuple of strings.

In [4]:
str_tpl = ("partap",'Rushi','Ashish','Sachin')

longest_str = max(str_tpl, key=len)


print("Longest string :",longest_str)

Longest string : partap

47. Find the shortest string in a tuple of strings.

In [6]:
str_tpl = ("partap",'Rushi','Ashish','Sachin')


shortest_str = min(str_tpl, key=len)

print("shortest string in tuple : ",shortest_str)

shortest string in tuple :  Rushi

48. Create a tuple of the first n triangular numbers.

In [8]:
n = 7

tringular_num_tpl = tuple((i * (i+1)) //2 for i  in range (1, n+1))

print(f"tuple of the firat {n} tringular number : ",tringular_num_tpl)

tuple of the firat 7 tringular number :  (1, 3, 6, 10, 15, 21, 28)

49. Check if a tuple contains another tuple as a subsequence.

In [11]:
tpl = (1,2,3,4,5,6,7,8,9)

tpl2 = (4,5,6,7)

def contains_sub(tpl,tpl2):
  for i in tpl:
    if i in tpl2:
      return True

  return False

check = contains_sub(tpl,tpl2)

print("main tuple contain subsequency")

main tuple contain subsequency

50. Create a tuple of alternating 1s and 0s of length n.

In [12]:
n =10

alternate_tpl = tuple(i % 2 for i in range(n))

print( "Tuple of alternating 1s and 0s:",alternate_tpl)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Set based problems:**

1. Create a set with integers from 1 to 5.

In [15]:
my_set = set(i for i in range(1,6))
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [17]:
my_set ={1, 2, 3, 4, 5}

print("Original set: ",my_set)

my_set.add(7)
print("Set after adding element: ",my_set)

Original set:  {1, 2, 3, 4, 5}
Set after adding element:  {1, 2, 3, 4, 5, 7}

3. Remove an element from a set.

In [18]:
my_set ={1, 2, 3, 4, 5}

print("Oringinal set:",my_set)

my_set.remove(3)

print("After removing the element: ",my_set)

Oringinal set: {1, 2, 3, 4, 5}
After removing the element:  {1, 2, 4, 5}

4. Check if an element exists in a set.

In [19]:
my_set ={1, 2, 3, 4, 5}

element_check =int(input("Enter element to check: "))

if element_check in my_set:
  print("Element exist in set.")
else:
  print("Element does not exist in set.")

Enter element to check: 3
Element exist in set.

5. Find the length of a set without using the len() function

In [20]:
my_set ={1, 2, 3, 4, 5}

count = 0

for i in my_set:

  count +=1

print ("lenth of set",count)

lenth of set 5

6. Clear all elements from a set.

In [22]:
my_set ={1, 2, 3, 4, 5}

print("Original set: ",my_set)

my_set.clear()

print("After clearing the set:",my_set)

Original set:  {1, 2, 3, 4, 5}
After clearing the set: set()

7. Create a set of even numbers from 1 to 10

In [24]:
even_num = set(i for i in range(2,11,2))

print("set of even number :",even_num)

set of even number : {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [25]:
odd_num = set(i for i in range(1,11,2))

print("set of odd number:",odd_num)

set of odd number: {1, 3, 5, 7, 9}

9. Find the union of two sets

In [28]:
my_set ={1, 2, 3, 4, 5}
my_set1 ={1, 7, 3, 9, 5}

union_element = my_set.union(my_set1)

print("set1 :",my_set)
print("set2 :",my_set1)
print("union of set 1 and set 2: ",union_element)

set1 : {1, 2, 3, 4, 5}
set2 : {1, 3, 5, 7, 9}
union of set 1 and set 2:  {1, 2, 3, 4, 5, 7, 9}

10. Find the intersection of two sets

In [33]:
my_set ={1, 2, 3, 4, 5}
my_set1 ={1, 7, 3, 9, 5}

intersection_set = my_set.intersection(my_set1)

print("Set 1:", my_set)
print("Set 2:", my_set1)
print("Intersection:", intersection_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 3, 5, 7, 9}
Intersection: {1, 3, 5}

11. Find the difference between two sets.

In [32]:
my_set ={1, 2, 3, 4, 5}
my_set1 ={1, 7, 3, 9, 5}

diff_set = my_set.difference(my_set1)

print("Set 1:", my_set)
print("Set 2:", my_set1)
print("Difference:", diff_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 3, 5, 7, 9}
Difference: {2, 4}

12. Check if a set is a subset of another set.

In [34]:
my_set ={ 3, 4, 5}
my_set1 ={1,4, 7, 3, 9, 5}

subset = my_set.issubset(my_set1)

print("Is set1 a subset of set2 :",subset)

Is set1 a subset of set2 : True

13. Check if a set is a superset of another set.

In [35]:
myset  = {1, 2, 3, 4, 5}
myset1 = {3,4}

superset = myset.issuperset(myset1)

if superset:
  print("set1 is superset of set2")
else:
  print("set1 is not a superset of set2")

set1 is superset of set2

14. Create a set from a list

In [36]:
lst = [2,3,4,5,6,4,3]

conv_set = set(lst)

print("original list :",lst)
print("convert lst to set :",conv_set)

original list : [2, 3, 4, 5, 6, 4, 3]
convert lst to set : {2, 3, 4, 5, 6}

15. Convert a set to a list.

In [37]:
myset = {3,1,2,4,5,6,7}

conv_lst = list(myset)


print("Original set :",myset)
print("convert set to list :",conv_lst)

Original set : {1, 2, 3, 4, 5, 6, 7}
convert set to list : [1, 2, 3, 4, 5, 6, 7]

16. Remove a random element from a set.

In [38]:
import random

myset = {1,2,3,4,5,6,7}

print("Original set :",myset)

random_element = random.choice(list(myset))

myset.remove(random_element)

print("Update set after removing :",myset)

Original set : {1, 2, 3, 4, 5, 6, 7}
Update set after removing : {1, 2, 3, 5, 6, 7}

17. Pop an element from a set.

In [11]:
myset = {1,2,3,4,5,6}

print("Original set :",myset)

popped_element = myset.pop()

print("Popped element :",popped_element)

print("Set after popping :",myset)

Original set : {1, 2, 3, 4, 5, 6}
Popped element : 1
Set after popping : {2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [10]:
myset = {1,2,3,4}
myset1 = {5,6,7,8}

common_element = myset.intersection(myset1)

if not common_element:
  print("The two  sets have no element in common.")
else:
  print("The two sets have common elements :",common_element)

The two  sets have no element in common.

19. Find the symmetric difference between two sets.

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [8]:
set1 = {2,3,4,5}
set2 ={ 5,6,7,8}

print("set1",set1)
print('set2',set2)

set1.update(set2)
print("update set1 :",set1)

set1 {2, 3, 4, 5}
set2 {8, 5, 6, 7}
update set1 : {2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [7]:
def prime(num):

  if num <= 1:
    return False
  for i in range(2, int(num**0.5) +1):
    if num % i == 0:
      return False
  return True

prime_set = set()

num = 2

while len(prime_set)<5:
  if prime (num):
    prime_set.add(num)

  num += 1

print("Set of the first 5 prime number :",prime_set)

Set of the first 5 prime number : {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [3]:
set1 ={1,2,3,4,5}
set2 ={3,2,6,4,2}

if set1 == set2:
  print("The sets are identical.")
else:
  print("The sets are not identical.")

The sets are not identical.

23. Create a frozen set

In [6]:
element = [1,2,3,4,5,6,7]

frozen = frozenset(element)

print("Frozen set: ", frozen)

Frozen set:  frozenset({1, 2, 3, 4, 5, 6, 7})

24. Check if a set is disjoint with another set.

In [5]:
set1 = {1,2,3,4}
set2 = {5,6,7,3,4,9}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint",disjoint_status)

Are the sets disjoint False

25. Create a set of squares of numbers from 1 to 5.

In [1]:
square_set = set(i**2 for i in range(1,6))
print("set of square: ",square_set)

set of square:  {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [12]:
myset = {1,2,3,4,5,66,77}

even_num = set(i for i in myset if i % 2 == 0)

print("Original set: ",myset)
print("Even number set: ",even_num)

Original set:  {1, 2, 3, 4, 5, 66, 77}
Even number set:  {2, 4, 66}

27. Multiply all elements in a set by 2.

In [13]:
myset = {1,2,3,4,5,66,77}

multiply_set = set(i ** 2  for i in myset)

print("multiply set :",multiply_set)

multiply set : {1, 4, 4356, 9, 5929, 16, 25}

28. Create a set of random numbers.

In [18]:
import random # import random Library

num=5

random_set = set()

for _ in range(num):

  random_num = random.randint(1,77)

  random_set.add(random_num)
print("create set of random number: ",random_set)

create set of random number:  {32, 38, 16, 54, 27}

30. Create a nested set (hint: use frozenset).

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [21]:
myset = {1,2,3,4,5,6}

print("initial set :",myset)

remove_element = 6

# Remove  the element of set using discsrd() function.
myset.discard(remove_element)

print("Set after removing: ",myset)

initial set : {1, 2, 3, 4, 5, 6}
Set after removing:  {1, 2, 3, 4, 5}

32. Compare two sets.

In [22]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2", is_subset)
print("Is set2 a subset of set1", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2 False
Is set2 a subset of set1 False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [23]:
string = "Hello"

# Convert set item string.
convert_set = set(string)
print(convert_set)

{'H', 'o', 'l', 'e'}

34. Convert a set of strings to a set of integers.

In [26]:
str_set = {"12","23","45","43","77"}

int_set = set()

# Initialize the set.
for i in str_set:

   # Convert each element to integer.
  int_value = int(i)

   # And add in set.
  int_set.add(int_value)

print("Original string set: ",str_set)
print("Converted integer set: ",int_set)

Original string set:  {'23', '12', '45', '77', '43'}
Converted integer set:  {43, 12, 77, 45, 23}

35. Convert a set of integers to a set of strings.

In [27]:
int_set = {43, 12, 77, 45, 23}

# Initialize the set.
str_set = set()

# Iterate through each element in set.
for i in int_set:

  # Convert each element to string.
  str_value = str(i)

  # And add in set.
  str_set.add(str_value)

print("Original string set: ",int_set)
print("Converted integer set: ",str_set)

Original string set:  {45, 23, 43, 12, 77}
Converted integer set:  {'12', '45', '43', '23', '77'}

36. Create a set from a tuple.

In [28]:
mytpl = (43, 12, 77, 45, 23)

# Convert tuple to  set using set() function.
tuple_to_set = set(mytpl)

print(tuple_to_set)

{43, 12, 45, 77, 23}

37. Convert a set to a tuple.

In [29]:
myset= {43, 12, 77, 45, 23}

# Convert set to tuple using tuple() function.
conv_tpl = tuple(myset)

print(conv_tpl)

(45, 23, 43, 12, 77)

38. Find the maximum value in a set.

In [30]:
myset = {43, 12, 77, 45, 23}

max_value = None

for num in myset:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
  if max_value is None or num >max_value:
    max_value = num

print("Maximum value: ",max_value)

Maximum value:  77

39. Find the minimum value in a set.

In [31]:
myset = {43, 12, 77, 45, 23}

min_value = None

for num in myset:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
  if min_value is None or num <min_value:
    min_value = num

print("Maximum value: ",min_value)

Maximum value:  12

40. Create a set from user input.

In [32]:
# Initialize an empty set
user_set = set()

#  Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Add the user input to the set
    user_set.add(user_input)

# Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> hii myself  PRK
> done
Final set: {'hii myself  PRK'}

41. Check if the intersection of two sets is empty.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

#Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [34]:
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [35]:
lst = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Convert the list to a set
unique_set = set(lst)

# Convert the set back to a list
unique_list = list(lst)

# Print the original list and the list with duplicates removed
print("Original List:", lst)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

44. Check if two sets have the same elements, regardless of their count.

In [36]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first n powers of 2

In [37]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [38]:
# Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Initialize an empty list to store common elements
common_elements = []

# Iterate through the elements in the set
for element in my_set:
    # Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

48. Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

49. Create a set of alternating 1s and 0s of length n.

In [39]:
def create_alternating_set(n):
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

print(result)

{0, 1}

50. Merge multiple sets into one.

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Use the union() method to merge sets
merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}